<% provide(:title,"Message URLs") %>
<% url_count = @message.tokens.count %>
<% pluralized_URL = "URL#{(url_count> 1)? "s:":":"}" %>
<h2 id="details-title" class="center">Access your message at the following <%= pluralized_URL %></h2>
<% @message.tokens.each do |token| %>
<% url = base_url + "/" + token.key %>
<div class="message-url center"><%= url %></div>
<% end %>
<div id="add-url-link" class="center"><%= link_to("Add Url", {:controller => :message_viewer, :action => :addtoken}, :method => :post) %></div>