<% provide(:title, "message") %>
	<% flash.each do |message_type, message| %>
    <div class="alert alert-<%= message_type %>"><%= message %></div>
  <% end %>
	<div class="row">
	  <div class="center strong"><%= @message.message %></div>
  </div>