// Place all the styles related to the MessageViewer controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.message-url {
	padding-bottom: 3px;
}

#add-url-link {
	margin: 5px;
	font-size: 1.2em;
}