<footer class="footer">
  <small>
    This is a clone of <a href="http://thismessagewillselfdestruct.com">This Message Will Self Destruct</a>
  </small>
  <small id="author-link">
    written by <a href="http://joebauer.co">Joe Bauer</a></li>
  </small>
  </nav>
</footer>