<header class="navbar navbar-fixed-top navbar-inverse" role="navigation">
  <div class="container">    
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navigation-menu">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">
                <%= link_to "TMWSD", root_path, id: "logo" %>
            </a>
        </div>
		    <div id="navigation-menu" class="collapse navbar-collapse">
		      <ul class="nav navbar-nav navbar-right">
		        <li><%= link_to "Home",   root_path %></li>
		        <li><%= link_to "About",   '#' %></li>
		      </ul>
		    </div>
  </div>
</header>